html
    head
        block title
            title Default title
        link(href="scss/bootstrap/bootstrap.css" rel="stylesheet")
        link(href="scss/peramoon/core.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
        link(href="scss/peramoon/styles.css" rel="stylesheet")
        link(href="assets/css/icomoon.css" rel="stylesheet")
        script(src="node_modules/popper.js/dist/umd/popper.min.js")
        script(src="node_modules/jquery/dist/jquery.min.js")
        script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="assets/js/app.js")

    body
        .page-wrapper
            .sidebar-menu.fixed
                include _sidebar
            .main-content
                include _topbar
                .container
                    ul.breadcrumb
                        li
                            a(href='')
                                i.icon-layout
                                | Dashboard
                        li
                            a(href='') Product's
                        li.active  List

                    block content
