.logo
    img(src="assets/images/peramoon-logo.png")

.search-holder
    input(type='text',placeholder='Search ...')
    i.icon-search

ul.sidenav
    li
        a(href='')
            i.icon-sidebar
            | Dashboard
    li.active
        a(href='')
            i.icon-alert-circle
            | Slideshow's
        ul
            li
                a(href='') Slideshow's
                ul
                    li
                        a(href='') Slideshow's
                    li
                        a(href='') Slideshow's
    li
        a(href='')
            i.icon-alert-circle
            | Categories
    li
        a(href='')
            i.icon-settings
            | Setting