header.page-topbar
    .navbar-direction
        .navbar-toggler-icon
            i.icon-x
        i.icon-arrow-left
        h1 Shop Management
    .navbar-brand
        img(src="assets/images/peramoon-logo-small.png")
    .navbar-info
        .user-info.dropdown
            .avatar
                img(src='assets/images/avatar.png')
            .inner
                strong Allahyar
                small آخرین بازدید : دیروز
            .dropdown-menu.shadow-mod
                .dropdown-header asas
                ul.menu-list
                    li
                        a(href='')
                            i.icon-menu
                            | Account Setting
                    li
                        a(href='')
                            i.icon-menu
                            | Account Setting
            i.icon-chevron-down
        i.icon-maximize
        a(href="")
            i.icon-bell
        a(href="")
            i.icon-globe