.form-buttons {
   padding-top: 10px;
   margin-top: 10px;
   border-top: 1px solid #f1f1f1;
}

.btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: 0;
   border-radius: 5px;
   color: #ffffff;
   min-width: 100px;
   padding: 5px 15px;
   margin-right: 5px;
   transition: background-color 200ms;
   &.has-icon {
      i {
         margin: 0 5px;
      }
   }

   &:focus {
      outline: none;
   }
}


.btn-primary {
   background-color: #1442f0;
   -webkit-box-shadow: 0 2px 3px 0 rgba(20,66,240,0.2);
   box-shadow: 0 2px 3px 0 rgba(20,66,240,0.2);
   &:hover {
      background-color: #143dd6;
   }
}

.btn-success {
   background-color: #0ee381;
}

.btn-light {
   background-color: #f7f7f7;
   color: #c0c0c0;
}