$primary-color: #0d0d0d !default;
$secondary-color: #c22828 !default;


$text-gray: #909090;
$text-black: #0d0d0d;

$sidebar-width: 280px;
$sidebar-width-collapsed: 60px;
$sidebar-bg: #ffffff;

$page-topbar-height: 62px;
$border-gray-color: #eeeeee;
